@import '../../styles/variables.scss';


.footer {
    background-color: $dark-white;
    .container-logo-footer {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
    }
    .container-contact-footer {
        margin: $margin-main-mobile;
        height: 26rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .social-media-logos {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            .img-social-media {
                width: 2rem;
            }
        }
        .contact-data {
            .p-bold-contact-data{
                font-weight: 700;
                @extend .p-contact-data;
            }
            .p-contact-data {
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.4px;
            }
            .p-politica-de-privacidad {
                @extend .p-contact-data;
                font-weight: 700;
                text-decoration: underline;
            }
        }
    }
    .container-credits-footer {
        background-color: $dark-gray;
        margin-top: 1.5rem;
        .p-credits {
            padding: 0.5rem 0;
            font-style: italic;
            font-size: 14px;
            text-align: center;
            line-height: 24px;
            letter-spacing: 0.4px;
            color: $red;
            .a-credits {
                color: $red;
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width: $desktop){
    .footer {
        .container-contact-footer {
            margin: $margin-main-desktop;
        }
    }
}