@import '../../styles/variables.scss';

.container-videointeligente {
    .content-1, .content-2 {
        margin: $margin-main-mobile;
        .p-videoInteligente {
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 1.5rem;
        }
    }
}