@import '../../styles/variables.scss';


.div-container-div {
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
    .container-btn {
        border-radius: 12px;
        width: 12rem;
        background-color: $red;
        padding: 0.7rem 1.3rem;
        .text-btn {
            text-align: center;
            color: $white;
            font-weight: 700;
            font-size: 20px;
        }
    }
}