@import '../../styles/variables.scss';

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    .nav {
        height: 3.5rem;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        background-color: $red;
        .btn-nav {
            background-color: transparent;
            border: none;
            .img-menu {
                width: 3rem;
            }
        }
    }
}
.ul-nav-bar {
    opacity: 1;
    transition: opacity 0.3s linear;
    position: absolute;
    z-index: 2;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $navBar;
    opacity: 90%;
    list-style: none;
    .li-nav-bar {
        padding: 20px 0;
        cursor: pointer;
        a {
            font-size: 16px;
            font-weight: 700;
            color: $white;
        }
    }
}
.nav-bar-bg {
    z-index: 2;
    top: 350px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    background-color: transparent;
}

.disable {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s linear;
}

@media screen and (min-width: $desktop) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4.5rem;
        background-color: $white;
        .nav {
            padding-left: 4.5rem;
            align-items: center;
            background-color: $white;
        }
        .ul-nav-bar-desktop {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            list-style: none;
            width: 70%;
            padding-right: 4.5rem;
            .li-nav-bar-desktop {
                cursor: pointer;
                a {
                    font-size: 16px;
                    font-weight: 700;
                    color: $dark-red;
                }
            }
        }
    }
}